html {
	overflow-y: scroll;
	/* Sticky vertical scrollbar to prevent horizontal shifts on navigation. */
}

html.progress, html.progress * {
	cursor: progress !important;
}

body {
	margin: 0;
	color: #111;
	background: #f2f2f2;
}

body .ui-widget {
	font-size: 14px;
	line-height: 1.5em;
}

.ui-panelgrid>*>tr, .ui-panelgrid>*>tr>td.ui-panelgrid-cell {
	border: none;
}

body .wrapped {
	width: 1050px;
	margin: 0 auto;
	border: 0;
	color: inherit;
	background: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: 700;
	color: #222;
	letter-spacing: -1px;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

h2 {
	padding-bottom: 10px;
	border-bottom: 1px #ccc dashed;
	font-size: 32px;
}

hr {
	height: 1px;
	border: none;
}

a img {
	border: 0; /* IE */
}

#header-wrapper {
	background: #327e04;
}

#header {
	padding: 25px 10px 20px;
}

#header a.logo {
	float: left;
	margin-right: 1em;
}

#header h1 {
	margin: 0;
	font-size: 42px;
	color: white;
}

#header h2 {
	border: 0;
	font-size: 22px;
	font-weight: 300;
	color: white;
}

#content-wrapper {
	padding: 0.25em 0;
}

#content {
	float: left;
	width: 1024px;
}

#content a, #content a:hover, #content a.active {
	text-decoration: none;
}

#content .ui-panel-content {
	padding: 6px;
}

#content .ui-tabs {
	border: 0;
}

#content .ui-tabs .ui-tabs-nav {
	background: none;
}

#content .ui-tabs .ui-tabs-panel {
	padding: 0;
}

#menu {
	float: left;
	width: 275px;
	margin: 0;
}

#menu .ui-panel, #content .ui-panel {
	margin: 6px 0;
	padding: 1px;
	border: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

#menu .ui-panel-titlebar, #content .ui-panel-titlebar {
	padding: 2px 6px;
	border: 0;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

#menu .ui-panel-content {
	padding: 0 6px;
}

#menu ul {
	margin: 2px 0 1px 0;
	padding: 0;
	list-style-type: none;
}

#menu ul.group li {
	float: left;
	margin-right: 2px;
}

#menu a {
	display: block;
	line-height: 1.5em;
}

#menu a.code {
	padding: 1px 0;
	line-height: 1.3em;
}

#menu a:hover, #menu a.active {
	border-radius: 3px;
}

#footer-wrapper {
	background: #327e04;
}

#footer {
	height: 50px;
	/* Just some spacing to avoid vertical page shifts when switching between source code tabs. */
	text-align: center;
}

#footer .ui-widget-content {
	color: white;
}

#footer h3 {
	border: 0;
	font-size: 18px;
	font-weight: 300;
	color: white;
}

#footer p {
	white-space: pre;
}