<ui:composition template="/WEB-INF/templates/layout.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
    xmlns:p="http://primefaces.org/ui"
    xmlns:of="http://omnifaces.org/functions">

    <ui:define name="title">
        Estudiantes
    </ui:define>

    <ui:define name="contentTitle">
		Lista de estudiantes
	</ui:define>

    <ui:define name="content">
        <h:form id="form">
            <p:messages id="mensajes" />
            <p:dataTable id="listaEstudiantes" var="estudiante"
                value="#{estudianteMB.estudiantes}"
                rowKey="#{estudiante.id}" rows="10" paginator="true"
                emptyMessage="No existen estudiantes registrados."
                sortBy="#{estudiante.apellidoPaterno}">
                <f:facet name="header">Usuarios</f:facet>
                <p:column headerText="Nombre(s)" style="width: 20%">
                    <h:outputText value="#{estudiante.nombres}" />
                </p:column>
                <p:column headerText="Apellido Paterno"
                    style="width: 40%">
                    <h:outputText value="#{estudiante.apellidoPaterno}" />
                </p:column>
                <p:column headerText="Apellido Materno"
                    style="width: 20%">
                    <h:outputText value="#{estudiante.apellidoMaterno}" />
                </p:column>
                <p:column headerText="Fecha nacimiento"
                    style="width: 20%">
                    <h:outputText
                        value="#{of:formatDate(estudiante.fechaNacimiento,'dd/MM/yyyy')}" />
                </p:column>
                <p:column headerText="Telefono celular"
                    style="width: 20%">
                    <h:outputText value="#{estudiante.telefonoCelular}" />
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>