<ui:composition template="/WEB-INF/templates/layout.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Estudiantes - Control
    </ui:define>

    <ui:define name="contentTitle">
		Control de estudiantes
	</ui:define>

    <ui:define name="content">
        <h:form id="form">
            <p:messages id="mensajes" />
            <p:panelGrid columns="2" layout="grid">
                <p:outputLabel for="nombres" value="Nombre(s):" />
                <p:inputText id="nombres"
                    value="#{estudianteMB.estudiante.nombres}"
                    required="true" />
                <p:outputLabel for="apellidoPaterno"
                    value="Apellido paterno:" />
                <p:inputText id="apellidoPaterno"
                    value="#{estudianteMB.estudiante.apellidoPaterno}"
                    required="true" />
                <p:outputLabel for="apellidoMaterno"
                    value="Apellido materno:" />
                <p:inputText id="apellidoMaterno"
                    value="#{estudianteMB.estudiante.apellidoMaterno}" />
                <p:outputLabel for="fechaNacimiento"
                    value="Fecha de nacimiento:" />
                <p:calendar id="fechaNacimiento"
                    value="#{estudianteMB.estudiante.fechaNacimiento}"
                    pattern="dd/MM/yyyy" alt="dd/mm/aaaa"
                    navigator="true" maxdate="#{now}" showOn="button"
                    required="true" />
                <p:outputLabel for="telefonoCelular"
                    value="Télefono celular:" />
                <p:inputMask id="telefonoCelular"
                    value="#{estudianteMB.estudiante.telefonoCelular}"
                    mask="(999) 999-9999" />
                <p:commandButton id="btnGuardar" value="Guardar"
                    process="@form" action="#{estudianteMB.guardar}"
                    update="@form" />
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>