<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
        Taller Java Web
    </ui:define>

	<ui:define name="contentTitle">
		Desarrollo web profesional con Java
	</ui:define>

	<ui:define name="content">
		<div class="centered">
			<h1>Herramientas:</h1>
            <ul>
                <li>Java 8</li>
                <li>Java EE 7: JSF, EJB, JPA</li>
                <li>Primefaces 5</li>
                <li>Apache TomEE 7</li>
                <li>PostgreSQL 9.5</li>
                <li>Maven 3</li>
                <li>Git</li>
            </ul>
		</div>
	</ui:define>
</ui:composition>