<!DOCTYPE html [
    <!ENTITY copy "&#169;"> 
]>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
    xmlns:p="http://primefaces.org/ui">
<ui:insert name="meta" />
<h:head>
    <title><ui:insert name="title">Taller Java Web</ui:insert></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</h:head>
<h:body>
    <h:outputStylesheet name="css/layout.css" />

    <div id="header-wrapper">
        <div id="header" class="wrapped">
            <h1>Taller Java Web</h1>
            <p:separator />
            <h:form>
                <p:menubar>
                    <p:submenu label="Estudiantes">
                        <p:menuitem value="Nuevo"
                            outcome="/pages/estudiante.xhtml?faces-redirect=true" />
                        <p:menuitem value="Lista"
                            outcome="/pages/estudiantes.xhtml?faces-redirect=true" />
                    </p:submenu>
                </p:menubar>
            </h:form>
        </div>
    </div>

    <div id="content-wrapper">
        <div class="wrapped ui-helper-clearfix">
            <p:panel id="content" styleClass="wrapped">
                <p:ajaxStatus onstart="PF('statusDialog').show()"
                    onsuccess="PF('statusDialog').hide()" />
                <h2 id="contentTitle">
                    <ui:insert name="contentTitle">#{page.current.title}</ui:insert>
                </h2>
                <ui:insert name="content" />
                <p:dialog widgetVar="statusDialog" modal="true"
                    draggable="false" closable="false" resizable="false"
                    showHeader="false">
                    <p:graphicImage library="images"
                        name="ajax-loader.gif" />
                </p:dialog>
            </p:panel>
        </div>
    </div>

    <div id="footer-wrapper">
        <p:panel id="footer" styleClass="wrapped">
            <h3>Copyright &copy; 2016</h3>
        </p:panel>
    </div>

</h:body>
</html>