<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
        Taller Java Web
    </ui:define>

	<ui:define name="contentTitle">
		Página no disponible
	</ui:define>

	<ui:define name="content">
		<p>
			Su sesión finalizó mientras se encontraba en ésta página. De clic <a
				href="#{requestScope['javax.servlet.error.request_uri']}">aquí</a>
			para cargarla nuevamente.
		</p>
	</ui:define>
</ui:composition>
