<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="title">
        Taller Java Web
    </ui:define>

	<ui:define name="contentTitle">
		Error interno.
	</ui:define>

	<ui:define name="content">
		<p>Ha ocurrido un error interno en la aplicación. Favor de
			comunicarse con el área correspondiente para la atención de éste
			incidente.</p>
		<li>Date/time: #{of:formatDate(now, 'yyyy-MM-dd HH:mm:ss')}</li>
				<li>User agent: #{header['user-agent']}</li>
				<li>User IP: #{empty header['x-forwarded-for'] ? request.remoteAddr : fn:split(header['x-forwarded-for'], ',')[0]}</li>
				<li>Request URI: <a href="#{requestScope['javax.servlet.error.request_uri']}">#{requestScope['javax.servlet.error.request_uri']}</a></li>
				<li>Ajax request: #{facesContext.partialViewContext.ajaxRequest ? 'Yes' : 'No'}</li>
				<li>Status code: #{requestScope['javax.servlet.error.status_code']}</li>
				<li>Exception type: <code>#{requestScope['javax.servlet.error.exception_type']}</code></li>
				<li>Exception message: <code>#{requestScope['javax.servlet.error.message']}</code></li>
				<li>Stack trace: <pre><code>#{of:printStackTrace(requestScope['javax.servlet.error.exception'])}</code></pre></li>
	</ui:define>
</ui:composition>
