<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
        Taller Java Web
    </ui:define>

	<ui:define name="contentTitle">
		Recurso no encontrado.
	</ui:define>

	<ui:define name="content">
		<span>No existe el recurso solicitado.</span>
	</ui:define>

</ui:composition>
